<div class="d-flex justify-content-between align-items-center">
  <h3 class="mb-0">Certificate Types List</h3>
  <button
    mat-flat-button
    extended
    (click)="openAddOrUpdateCertificateTypeDialog()"
  >
    <mat-icon>add</mat-icon>
    {{ "Add_Certificate_Type" | translate }}
  </button>
</div>

<div class="certificate-types__table mt-2">
  <table
    mat-table
    [dataSource]="certificateTypes$"
    class="mat-elevation-z0 mt-table"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef i18n>
        {{ "Name" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef i18n>
        {{ "Description" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef i18n>
        <!-- {{ "Actions" | translate }} -->
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            (click)="openAddOrUpdateCertificateTypeDialog(element)"
          >
            {{ "Edit" | translate }}
          </button>
          <button mat-menu-item (click)="deleteCertificateType(element.id)">
            {{ "Delete" | translate }}
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
