.header {
  height: 60px;
  padding: 12px;
  display: flex;
  justify-content: end;
  align-items: center;

  .language-select {
    width: fit-content;
    border: none;
    padding: 4px;
    height: 100%;

    .language-label {
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 4px;

      img {
        height: 100%;
      }
    }
  }
}
.language-option {
  font-size: 12px;

  img {
    width: 24px;
    object-fit: contain;
  }

  .mat-pseudo-checkbox {
    display: none;
  }
}
