<header class="header">
  <div class="menu-collapse" (click)="menuToggle()">
    <mat-icon>{{ menuIcon }}</mat-icon>
  </div>
  <mat-select
    class="language-select"
    formControlName="contact"
    [(value)]="selectedLanguage"
    (selectionChange)="onLanguageChange($event.value)"
  >
    <mat-select-trigger class="language-label">
      <img
        [src]="selectedLangOption?.img"
        alt="{{ selectedLangOption?.label }}"
        style="height: 20px; object-fit: contain; margin-right: 8px"
      />
      {{ selectedLangOption?.label }}
    </mat-select-trigger>
    <mat-option
      class="language-option"
      *ngFor="let lang of languageOptions"
      [value]="lang.value"
    >
      <div class="d-flex align-items-center">
        <img [src]="lang.img" />
        <span class="ml-2">{{ lang.label }}</span>
      </div>
    </mat-option>
  </mat-select>
</header>
