.header {
  height: 60px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 36px;

    img {
      height: 100%;
    }
  }

  &__menu {
    display: flex;
    gap: 12px;
  }

  &__nav {
    display: flex;
    gap: 12px;

    a {
      color: #ffffff;
      text-decoration: none;

      &.active {
        color: #ff5000;
      }
    }
  }
}
