<h1 mat-dialog-title>{{ "Add_A_New_Certificate_Type" | translate }}</h1>
<div mat-dialog-content class="add_dialog">
  <form [formGroup]="newTypeFrom">
    <mat-form-field>
      <mat-label>{{ "Name" | translate }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "Description" | translate }}</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ "Cancel" | translate }}
  </button>
  <button mat-button [disabled]="!newTypeFrom.valid" (click)="addType()">
    {{ (updateData ? "Edit" : "Add") | translate }}
  </button>
</div>
