.main {
  height: 100%;
  max-width: 100vw;

  .side {
    width: 200px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
  }

  .main-content {
    padding-left: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;

    .header {
      background-color: #ffffff;
    }

    .content {
      background-color: #f1f2f5;
      padding: 12px;
      flex: 1;
    }
  }
}
