<div class="menu__content">
  <a [routerLink]="'/'" class="logo">
    <img class="large-logo" src="/logos/digitall-ocean-logo.svg" />
    <img class="mini-logo" src="/logos/digitall-ocean-symbol.svg" />
  </a>
  <nav class="nav">
    <a
      class="nav__link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page"
    >
      <mat-icon>home</mat-icon>
      <span class="nav__title"> Home </span>
    </a>
    <a
      class="nav__link"
      routerLink="/certificate-types"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <mat-icon>title</mat-icon>
      <span class="nav__title">Certificate Types</span>
    </a>
  </nav>
</div>
