.goBack {
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 50%;

  &:hover {
    background-color: #e9eaec;
  }
}

.title {
  font-weight: 500;
  font-size: 24px;
}
