<div class="crew-detail">
  <div class="d-flex align-items-center">
    <div class="goBack" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </div>
    <span class="title">{{ crew?.firstName }} {{ crew?.lastName }}</span>
  </div>

  <mat-tab-group>
    <mat-tab label="Detail">
      <app-info [crew]="crew"></app-info>
    </mat-tab>

    <mat-tab label="Certificates">
      <app-certificates
        [certificates]="certificates"
        [crewId]="crew?.id"
      ></app-certificates>
    </mat-tab>
  </mat-tab-group>
</div>
