@import "./styles/spaces.scss";
@import "./styles/buttons.scss";
@import "./styles/grid.scss";
@import "./styles/table.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #000021;

  &.menu-closed {
    .side {
      width: 50px !important;
    }

    .main-content {
      padding-left: 50px !important;
    }

    .large-logo {
      display: none !important;
    }
    .mini-logo {
      display: block !important;
    }

    .nav__title {
      display: none;
    }
  }
}

.full-height {
  height: 100vh;
  display: block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.add_panel {
  width: 90vw;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: unset !important;
}
