<div class="info">
  <div class="info__col">
    <div class="info__item">
      <div class="title">{{ "First_Name" | translate }}</div>
      <div class="content">{{ crew?.firstName }}</div>
    </div>
  </div>
  <div class="info__col">
    <div class="info__item">
      <div class="title">{{ "Last_Name" | translate }}</div>
      <div class="content">{{ crew?.lastName }}</div>
    </div>
  </div>
  <div class="info__col">
    <div class="info__item">
      <div class="title">{{ "Nationality" | translate }}</div>
      <div class="content">{{ crew?.nationality }}</div>
    </div>
  </div>
  <div class="info__col">
    <div class="info__item">
      <div class="title">{{ "Title" | translate }}</div>
      <div class="content">{{ crew?.title }}</div>
    </div>
  </div>
  <div class="info__col">
    <div class="info__item">
      <div class="title">{{ "Days_On_Board" | translate }}</div>
      <div class="content">{{ crew?.daysOnBoard }}</div>
    </div>
  </div>
  <div class="info__col">
    <div class="info__item">
      <div class="title">{{ "Daily_Rate" | translate }}</div>
      <div class="content">{{ crew?.dailyRate }}</div>
    </div>
  </div>
  <div class="info__col">
    <div class="info__item">
      <div class="title">{{ "Currency" | translate }}</div>
      <div class="content">{{ crew?.currency }}</div>
    </div>
  </div>
</div>
